/* Ferramentas */

/* Fontes */
.righteous {
    font-family: 'Righteous', cursive;
}
body {
    /* usando roboto como a fonte padrão e aplicando somente a righteous */
    /* confiando na hierarquia do CSS (classes são mais específicas que tags logo são prioridade.  */
    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;
    background-color: #EEE;
}

/* ferramentas.js */
.selecionado{
    border: 4px solid #32B72F;
    /* para o ion-icon */
    position: relative;
}
ion-icon {
    display: none;
    color: #32B72F;
    position: absolute;
    bottom: 16px;
    right: 10px;
    
}
.selecionado ion-icon {
    /* sabendo que o CSS mais específico tem prioridade 
    (só os ion-icon dentro da classe selecionado) */
    display: inline;
}

/* Topo */

.header {
    background-color: #cf2b2b;
    height: 92px;
    width: 100%;
    border: 1px solid #ffc700;
    box-shadow: 0 5px 5px #888;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}
.header-container {
    padding: 20px;
}
.header h1 {
    color: white;
    font-size: 50px;
    font-weight: 400;
}
.header p {
    color: white;
    font-size: 15px;
}

/* container */
.conteudo {
    padding-left: 20px;

    /* Para compensar os componentes fixos */
    margin-top: 134px;
    margin-bottom:112px;
}
.conteudo  h2 {
    color: #333;
    font-size: 30px;
}

/* seções */
.secao {
    margin-bottom: 28px;
}
.secao > h3 {
    font-size: 26px;
    margin-left: 8px;
}

.pratos, .bebidas, .sobremesas {
    display: flex;
    margin-top: 18px;
    overflow: scroll;
}

.prato, .bebida, .sobremesa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 172px;
    height: 200px;
    padding: 15px;
    margin-right: 16px;
    border-radius: 10px;
}

.prato > img, .bebida > img, .sobremesa > img {
    width: 144px;
    height: 87px;
}
.prato > h4, .bebida > h4, .sobremesa > h4 {
    font-size: 18px;
}
.prato > .descricao, .bebida > .descricao, .sobremesa > .descricao {
    color: #A6A6A680;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.prato > .preco, .bebida > .preco, .sobremesa > .preco {
    font-size: 20px;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 92px;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CBCBCB;
    width: 364px;
    height: 62px;
    border-radius: 40px;
    border: none;
    /* texto */
    color: white;
    font-size: 18px;
}

.footer button {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #32B72F;
    width: 364px;
    height: 62px;
    border-radius: 40px;
    border: none;
    /* texto */
    color: white;
    font-size: 18px;
}

.pedido-pronto > p {
    display: none;
}
.pedido-pronto button {
    display: flex;
}

/* Confirmação de pedido */
.confirmacao {
    display: none;
}
.confirmar-pedido {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 20%;
    left: 10%;
    z-index: 3;

    background-color: #50D074;
    width: 377px;
    height: 374px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #888;
    /* texto */
    color: white;

}

h5 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 20%;
    margin: 30px 0 20px 0;
}

.linha {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 26px;

    font-size: 26px;
}
.pedido3, .valor3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.c-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c-botoes a {
    color: #50D074;
    background-color: white;
    width: 334px;
    height: 52px;
    border-radius: 30px;

    /* texto do link */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.c-botoes button {
    background-color: #50D074;
    margin: 20px 0;
    border: none;

    /* texto */
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.filtro {
    display: block;
    background-color: #ffffff90;
    position: fixed;
    top: 0;
    left: 0;
    height: 5000px;
    width: 100%;
    z-index: 2;
}
.sem-filtro {
    display:none;
}